@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-blue: #769EFF;
  --color-blue: #4C81FF;
  --color-dark-blue: #3B455A;
  --color-dark-blue2: #305399;
  --color-orange: #FF8800;

  /* for text */
  --color-text-white: #fff;
  --color-text-dark-blue: #3B455A;
}



/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument);
}

.gradient-background {
  background: radial-gradient(50% 50% at 50% 50%, #769EFF 0%, #4C81FF 100%);
}


.custom-container {
  width: 100%;
  max-width: 1440px;
  padding-inline: 16px;
  margin-inline: auto;
}

/* Tablet */
@media (min-width: 768px) {
  .custom-container {
    padding-inline: 48px;
  }
}